<footer class="footer mt-auto py-3 text-muted">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h6 class="text-center"> © 2024 Copyright </h6>
      </div>
      <div class="col-sm">
        <h6 class="text-center">Spark S,A.</h6>
      </div>
      <div class="col">
        <h6 class="col-sm text-center">Made with <%= image_tag 'love.png', style: "height: 20px" %> by Osman Santeliz.</h6>
      </div>
    </div>
  </div>
</footer>
